* {
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 3%;
    height: 10%;
    padding: 3rem 9%;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding-right: 50px;
    margin-right: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 0px;
    transition: 0.2s;
    box-shadow: 0 0 5px var(--main-color);
}

.header:hover{
    width: 3%;
    padding-left: 100px;
    box-shadow: 0 0 15px var(--main-color);
}

.logo{
    font-size: 10rem;
    color: var(--text-color);
    cursor: pointer;
    padding-bottom: 10px;
    padding-right: 80px;
}
:root{
    --bg-color: #04001a;
    --text-color: white;
    --main-color: #0059ff;
    --second-bg-color: #04001a;
}
body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
}
.gig {
    border: 3px solid var(--main-color);
    border-radius: 30px;
    padding: 16px;
    margin: 16px 0;
    box-shadow: 0 0 10px var(--main-color);
}

.gig_img{
    display: flex;
    gap: 10px;
    padding-top: 50px;
}

.gig_img img {
    height: 100%;
    flex: 1;
    object-fit: cover;
    overflow: hidden;
    border: solid var(--main-color);
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.3s;
    box-shadow: 0 0 10px var(--main-color);
}

.gig_img img:hover{
    transform: scale(1.03);
    box-shadow: 0 0 30px var(--main-color);
}

.gig h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.gig p {
    margin: 10px 0;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05)translateY(-2px);
    box-shadow: 0 0 10px var(--main-color);
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
}

.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}
